body{
    background-size: cover;  
    font-family: 'Abril Fatface', cursive;
font-family: 'Orbitron', sans-serif;

  
  }
  h1{
      color: rgb(239, 243, 9);
      font-size: xx-large;
      font-style:unset;
      margin-top: 1px;
      margin-bottom: 5px;
  }
  h2{
      color: aliceblue;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h3{
    color:cornsilk;
    font-style: italic;
  }
  .loginbox{
    font-size:medium;
    font-style:italic;
    color:rgb(252, 252, 252);
    width: 290px;
    padding: 9px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 60px;
    border: 1px solid rgb(255, 255, 255);
    border-width: 3px;
    margin-left: 40px;
    margin-top: 50px;
}
